<html>
    <head>
        <title>gulf of mexico compiler</title>
    </head>
    <body>
        <hgroup>
            <h1>gulf of mexico compiler</h1>
            <p>up to spec with the <a href="https://github.com/TodePond/GulfOfMexico">original gulf of mexico specification</a> as of 9/16/26</p>
        </hgroup>
        <form>
            <textarea name="code"></textarea>
            <button type="submit">run code</button>
        </form>
        <div class="output"></div>
    </body>
    <script>
        
    </script>
</html>