<!DOCTYPE html>
<html>
    <head>
        <title>gulf of mexico compiler</title>
    </head>
    <body>
        <hgroup>
            <h1>gulf of mexico compiler</h1>
            <p>up to spec with the <a href="https://github.com/TodePond/GulfOfMexico">original gulf of mexico specification</a> as of 9/16/26</p>
        </hgroup>
        <h2>code</h2>
        <form>
            <textarea name="code"></textarea><br>
            <button type="submit">run code</button>
        </form>
        <h2>output</h2>
        <div class="output"></div>
    </body>
    <script>
        document.querySelector("form").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch("/api", {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
                const output = await response.text();
                document.querySelector(".output").textContent = output;
            }
        })
    </script>
</html>